body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
 
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}


.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------------------------------- */
/* -------------Navigation-------------- */

.header {
  border-bottom: 1px solid var(#E7E9FC);
  background: var(#FFFF);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.flex-nav {
  display: flex;
  align-items: center;
}
.navigator {
  display: flex;
  align-items: center
}
.logo-name-web-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    margin-right: 76px;
}

.logo-nav-studio {
  color: #2e2f42;
}

.ul-nav {
  display: flex;
  gap: 40px;
}
.link-nav {
    display: block;
      padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-nav:focus,
.link-nav:hover,
.link-nav:active {
  color: #404bbf;
  
}
.current{
position: relative;
color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}



.address-nav{
  margin-left: auto;
}
.ul-address{
  display: flex;
  gap: 40px;
  font-style: normal;
}

.link-nav-contact{
    display: block;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-contact:hover,
.link-nav-contact:focus,
.link-nav-contact:active{
  color: #404bbf;
}

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.40);
  
}

.is-open{}

.modal{
  width: 408px;
  min-height: 584px;
  padding: 24px;
  border-radius: 4px;
    background-color: #FCFCFC;
      border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-click-btn {
    position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-click-btn:hover,
.modal-click-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-click-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-click-btn:hover>.modal-click-icon,
.modal-click-btn:focus>.modal-click-icon {
  fill: #ffffff;
}

.model-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
padding-top: 32px;
}

label{
  color: var(--LIGHT-SLATE, #8E8F99);
  
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.48px;


}
.modal-field{

}

.modal-cont-imput{
  position: relative;

}

.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input{
  width: 100%;
  height: 40px;
border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
padding-left: 38px;
outline: transparent;
}
.modal-input:focus{
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}

.cont-checkbox{
  padding-top: 16px;
}
.text-comment{
  padding: 8px 16px;
  width: 100%;
  min-height: 120px;
  resize: none;
  border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;
}
.text-comment::placeholder{

}
.text-comment:focus{
  border-color: #4D5AE5;
}
.text-policy{
color: var(--LIGHT-SLATE, #8E8F99);

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
  display: flex;
  align-items: center;
}
.link-policy{
  color: var(--IRIS, #4D5AE5);
  
    /* Link Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;

}

.text-policy span{
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
margin-right: 8px;
display: flex;
align-items: center;
justify-content: center;
fill: transparent;
}

.input-policy:checked + .text-policy span{
background-color:#404BBF;
border: none;
fill: #ffffff;
}
.btn-form {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: 24px auto;

  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
  background-color: #404bbf;

}
/* ----------------------------------- */
/*-----------Section 1 button------------*/



.section-button{
  max-width: 1440px;
    background: var(rgba(46, 47, 66, 0.70));
  padding: 188px 0;
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-button-title{
max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-one {
  display: block;
  border: none;
    min-width: 169px;
    height: 56px;
    margin: auto;

  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;

    background-color: #4d5ae5;
    border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-one:hover,
.button-one:focus {
  background-color: #404bbf ;

}


/* ------------------------------ */
/*----------Section 2 feature--------------*/


.section-feature{
padding: 120px 0;
}
.ul-feature-content {
  display: flex;
  gap: 24px;
}

.li-feature-content {
  width: calc((100% - 72px) / 4);
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 264px;
    height: 112px;
    border-radius: 4px;
      border: 1px solid var(--LIGHT-SLATE, #8E8F99);
      background: var(--CLOUD, #F4F4FD);
      margin-bottom: 8px;
}


.title-item-content{
  color: #2E2F42;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
 
}
.paragraph-item-content{
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* --------------------------------------- */
/*---------------Section 3 team------------*/



.section-team{
  background-color: #F4F4FD;
  padding: 120px 0;
    margin-right: auto;
      margin-left: auto;
}

.title-section-team{
  color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.ul-section-team {
  display: flex;
  gap: 24px;
}

.li-section-team {
  width: calc((100%-72px)/4);
border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-skills-container{
  padding: 32px 0;
  text-align: center;
}


.title-team-name{
  color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-team-skills{
color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-list-flex{
display: flex;  
justify-content: center;
margin-top: 8px;
gap: 24px;
}

.icon-flex-item{
width: 40px;
  height: 40px;
}

.icon-link-socset{
  background-color:#4D5AE5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-socset:hover,
.icon-link-socset:focus{
  background-color: #404BBF;

}
.icon-team-sect{
  fill: rgba(244, 244, 253, 1);
}

/* ------------------------------- */
/*------------Section 3 portfolio-----------*/


.section-portfolio{
padding: 120px 0;
}

.title-portfolio {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.ul-portfolio{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}


.item-portfolio {
  width: calc((100% - 48px) / 3);
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .paragraph-cont-wrap {
  transform: translateY(0%);
}
.item-portfolio:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cont-text-wrap{
  position: relative;
  overflow: hidden;
}

.paragraph-cont-wrap{
  position: absolute;
  top: 0;
color: var(--CLOUD, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.info-app-container{
padding: 32px 16px;
border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #FFF);
border-top: none;
}


.title-info-portfolio{
  color:#2E2F42;
   font-size: 20px;
   font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-portfolio{
  color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}


/* --------------------------------*/
/*--------------Footer--------------*/

.footer{
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-flex{
  display: flex;
  align-items: baseline;
}
.cont-logo-paragraf{
  margin-right: 120px;
}
.logo-name-web-footer {
    display: inline-block;
      margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-studio {
  color: #f4f4fd;
}


.footer-paragraph{
color: #F4F4FD;
max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.paragraph-socmed {
  color: var(--WHITE, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-flex{
  display: flex;
    gap: 16px;
}
.icon-flex-team{
width: 40px;
  height: 40px;
}
.icon-link-socset-foot{
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-socset-foot:hover,
.icon-link-socset-foot:focus{
  background-color:  var(--GREEN, #31D0AA);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


